@model RegisterVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from kute-themes.com/html/leka/html/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Oct 2021 06:38:32 GMT -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/chosen.css">
    <link rel="stylesheet" href="~/css/superslides.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="">

    <div class="container" style="margin-top:100px;">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="section-contact-info">
                    <h3 class="block-title text-center">Register</h3>
                    <div class="form-contact">
                        <form method="post">
                            <div id="message-box-conact"></div>
                            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
                            <p>
                                <label>Fullname <span class="required">*</span></label>
                                <input id="Fullname" asp-for="Fullname" />
                                <span class="text-danger" asp-validation-for="Fullname"></span>
                            </p>
                            <p>
                                <label>Email <span class="required">*</span></label>
                                <input id="Email" asp-for="Email" />
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </p>
                            <p>
                                <label>Username <span class="required">*</span></label>
                                <input id="Username" asp-for="Username" />
                                <span class="text-danger" asp-validation-for="Username"></span>
                            </p>
                            <p>
                                <label>Password <span class="required">*</span></label>
                                <input id="Password" asp-for="Password" />
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </p>
                            <p>
                                <label>Confirm Password <span class="required">*</span></label>
                                <input id="ConfirmPassword" asp-for="ConfirmPassword" />
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </p>
                            <button id="btn-send-contact" type="submit" class="button">Register</button>
                            <a href="/login">Have you an account? Login</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- Mirrored from kute-themes.com/html/leka/html/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Oct 2021 06:38:59 GMT -->
</html>
